@import "./variables.css";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:
  "Segoe UI",
  Tahoma,
  Geneva,
  Verdana,
  sans-serif;

  background:var(--white);
  color:var(--text);

  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  width:100%;
  display:block;
}

button{
  border:none;
  outline:none;
  cursor:pointer;
}

.container{
  width:90%;
  max-width:var(--container);
  margin:auto;
}

section{
  padding:90px 0;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}