.hero{

  padding-top:180px;

  min-height:100vh;

  display:flex;

  align-items:center;

  background:
  linear-gradient(
  135deg,
  #0A6ED1 0%,
  #114D94 45%,
  #0B1F3A 100%
  );

  color:white;

}

.hero-container{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:60px;

  align-items:center;

}

.hero-tag{

  display:inline-block;

  padding:10px 18px;

  border-radius:40px;

  background:rgba(255,255,255,.15);

  margin-bottom:25px;

}

.hero h1{

  font-size:4rem;

  line-height:1.1;

  margin-bottom:25px;

}

.hero p{

  font-size:1.15rem;

  line-height:1.8;

  opacity:.9;

}

.hero-buttons{

  margin-top:35px;

  display:flex;

  gap:20px;

}

.primary-btn{

  background:white;

  color:var(--primary);

  padding:16px 30px;

  border-radius:12px;

  font-weight:700;

}

.secondary-btn{

  background:transparent;

  border:1px solid white;

  color:white;

  padding:16px 30px;

  border-radius:12px;

}

.hero-image{
  position:relative;
}

.hero-image img{
  width:100%;
  border-radius:24px;
}

@media(max-width:992px){

.hero-container{
grid-template-columns:1fr;
}

.hero h1{
font-size:3rem;
}

}


.floating-card{

  position:absolute;

  background:rgba(255,255,255,0.15);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.25);

  border-radius:18px;

  padding:18px 24px;

  min-width:180px;

  color:white;

  box-shadow:
  0 15px 40px rgba(0,0,0,.25);

}

.floating-card h3{
  font-size:28px;
  margin-bottom:6px;
}

.floating-card p{
  margin:0;
  font-size:14px;
}

.card-1{
  top:25px;
  left:-40px;
}

.card-2{
  bottom:25px;
  right:-40px;
}