.why-choose{
  background:#ffffff;
}

.why-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:25px;
}

.why-card{
  background:white;
  padding:35px;
  border-radius:20px;
  text-align:center;
  box-shadow:var(--shadow-sm);
  transition:var(--transition);
}

.why-card:hover{
  transform:translateY(-10px);
  box-shadow:var(--shadow-lg);
}

.why-icon{
  width:70px;
  height:70px;
  margin:auto;
  border-radius:50%;
  background:#eef6ff;
  color:var(--primary);
  font-size:28px;

  display:flex;
  align-items:center;
  justify-content:center;

  margin-bottom:20px;
}

.why-card h3{
  margin-bottom:15px;
}

.why-card p{
  color:var(--text-light);
  line-height:1.7;
}

@media(max-width:992px){
  .why-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media(max-width:600px){
  .why-grid{
    grid-template-columns:1fr;
  }
}